{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>Destinations <span class="button"><a href="{{ path('destination_new') }}">Add</a></span></h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Program</th>
                <th>Is_active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('program_show', { 'id': entity.program.id }) }}">{{ entity.program }}</a></td>
                <td>{%if entity.isactive %}True{% else %}False{% endif %}</td>
                <td>
                <ul class='actions'>
                    <li>
                        <a href="{{ path('destination_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('destination_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    {% endblock %}
