{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>Person edit</h1>
    {{ form_start(edit_form) }}
      {{ form_row(edit_form.first_name) }}
      {{ form_row(edit_form.last_name) }}
      {{ form_row(edit_form.uniqname) }}
      {{ form_row(edit_form.phone) }}
      {{ form_row(edit_form.status) }}
      {{ form_row(edit_form.date_approved) }}
      {{ form_row(edit_form.is_ticket_unpaid) }}
      {{ form_row(edit_form.program) }}
      {{ form_row(edit_form._token) }}
      {{ form_row(edit_form.created) }}
      {{ form_row(edit_form.modified) }}
      
      {{ form_row(edit_form.submit, {'label': 'Save' }) }}
      
    {{ form_end(edit_form, {'render_rest': false}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('person') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
