{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>People <span class="button"><a href="{{ path('person_new') }}">Add</a></span></h1>
    
        {{ render(controller('GinsbergTransportationBundle:Person:searchCriteria')) }}
  
    <table class="records_list">
        <thead>
            <tr>
                <th>Uniqname</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Program</th>
                <th>Status</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.uniqname }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td><a href="{{ path('program_show', { 'id': entity.program.id }) }}">{{ entity.program }}</a></td>
                <td>{{ entity.status }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul class='actions'>
                    <li>
                        <a href="{{ path('person_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('person_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    {% endblock %}
