{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>Add a Person</h1>
    {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.first_name) }}
      {{ form_row(form.last_name) }}
      {{ form_row(form.uniqname) }}
      {{ form_row(form.phone) }}
      {{ form_row(form.status) }}
      {{ form_row(form.date_approved) }}
      {{ form_row(form.is_ticket_unpaid) }}
      {{ form_row(form.program) }}
      
      {{ form_row(form.submit, {'label': 'Submit' }) }}
      
    {{ form_end(form, {'render_rest': false}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('person') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
