{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>Search</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
      {{ form_errors(form) }}
      {{ form_row(form.firstName) }}
      {{ form_row(form.lastName) }}
      {{ form_row(form.uniqname) }}
      {{ form_row(form.program) }}
      {{ form_row(form._token) }}
      
      {{ form_row(form.submit, {'label': 'Search' }) }}
      
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}