{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
  <div class="record_actions">
    <span class='back button'>
        <a href="{{ path('ticket') }}">
            Back
        </a>
    </span>
    <span class='button'>
      <a href="{{ path('reservation')}}{{ edit_form.reservation.vars.value }}">
          Owning Reservation
      </a>
    </span>
    <span class='delete button'>{{ form(delete_form) }}</span>
  </div>
    <h1>Update Ticket {{ entity.id }}</h1>

    {{ form(edit_form) }}

{% endblock %}
