{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>Tickets <span class="button"><a href="{{ path('ticket_new') }}">
            Add
        </a></span></h1>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reservation Id</th>
                <th>Driver</th>
                <th>Ticket Date</th>
                <th>Reason</th>
                <th>Location</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ticket_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('reservation_show', { 'id': entity.reservation.id }) }}">{{ entity.reservation.id }}</a></td>
                <td><a href="{{ path('person_show', { 'id': entity.reservation.person.id }) }}">{{ entity.reservation.person.firstName }} {{ entity.reservation.person.lastName }}</a></td>
                <td>{% if entity.ticketDate %}{{ entity.ticketDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.reason }}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.isPaid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ticket_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ticket_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
