{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
  <div class="record_actions">
    <span class="back button">
        <a href="{{ path('ticket') }}">
            Tickets
        </a>
    </span>
    <span class="edit button">
        <a href="{{ path('ticket_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </span>
    <span class="delete button">{{ form(delete_form) }}</span>
  </div>
    <h1>Ticket</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ticket date</th>
                <td>{{ entity.ticketDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Reservation Id</th>
                <td><a href="{{ path('reservation_show', {'id': entity.reservation.id}) }}">{{ entity.reservation.id }}</a></td>
            </tr>
            <tr>
                <th>Driver uniqname</th>
                <td><a href="{{ path('person_show', {'id': entity.reservation.person.id}) }}">{{ entity.reservation.person }}</a></td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ entity.reason }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{ entity.isPaid }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
