{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <div class="record_actions">
    <span class='back button'>
        <a href="{{ path('reservation') }}">
            Back
        </a>
    </span>
    <span class="button">
      <a href="{{ path('ticket_new') }}/{{ entity.id }}">
        Create Ticket
      </a>
    </span>
    <span class='delete button'>{{ form(delete_form) }}</span>
</div>

<h1>Update reservation {{ entity.id }}</h1>
    {% if isReservationPast == true %}
      <p><span style="font-weight: bold; color: #FF0000;">Warning: This reservation occurred in the past. Do you really want to edit it?</span><br />
      <span style="color: #ff0000;">You will not be able to change the start or end dates or the seats required field.</span></p>
    {% endif %}

    {{ form_start(edit_form) }}
      {# If this is one reservation in a series, see whether they want to edit
      all future items or just this one #}
      {% if edit_form.vars.value.series != false %}
        {% if isReservationPast == false %}
      
            
          <div class="row">
              <p><strong>Edit all future reservations in this series?</strong></p>
            {{ form_label(edit_form.editSeries) }}
            {{ form_errors(edit_form.editSeries) }}
            {{ form_widget(edit_form.editSeries) }}
          </div>
        {% endif %}
      {% endif %}

    
      {{ form_errors(edit_form) }}
      {{ form_row(edit_form.person) }}
      {{ form_row(edit_form.program) }}
      {{ form_row(edit_form.start) }}
      {{ form_row(edit_form.end) }}
      {{ form_row(edit_form.seatsRequired) }}
      <div id="destination" class="required">
        {{ form_row(edit_form.destination) }}
      </div>
      <div id="destination-text" class="required">
        {{ form_row(edit_form.destinationText) }}
      </div>
      {{ form_row(edit_form.isRepeating) }}
      {{ form_row(edit_form.repeatsUntil) }}
      {{ form_row(edit_form.notes) }}
      <h4>Do not select a particular vehicle unless you have a special need:</h4>
      {{ form_row(edit_form.vehicle) }}
      <div>
        <label for="tickets_for_reservation">Tickets</label>
        {% if tickets %}
          {% for ticket in tickets %}
            <span class="error">Id: {{ ticket.id }}</span>&nbsp;&nbsp;
          {% endfor %}
        {% else %}
          None
        {% endif %}
      </div>
      <h4>Do not set unless vehicle has been checked out / checked in:</h4>
      {{ form_row(edit_form.checkout) }}
      {{ form_row(edit_form.checkin) }}
      {{ form_row(edit_form.isNoShow) }}

      <div style='display:none;'>
        {{ form_row(edit_form.created) }}
        {{ form_row(edit_form.modified) }}
      </div>
      {{ form_row(edit_form._token) }}
      
      {{ form_row(edit_form.submit, {'label': 'Update' }) }}
      
    {{ form_end(edit_form, {'render_rest': false}) }}

{% endblock %}
{% block javascripts %}
  {% javascripts 
    '@GinsbergTransportationBundle/Resources/public/js/reservation_datetimepicker.js'
    '@GinsbergTransportationBundle/Resources/public/js/create_edit_reservation.js'  %}
    {{ parent() }}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
