{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>Reservation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Out_datetime</th>
                <th>In_datetime</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Seats_required</th>
                <th>Destination_text</th>
                <th>Notes</th>
                <th>Is_noshow</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.outdatetime %}{{ entity.outdatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.indatetime %}{{ entity.indatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.seatsrequired }}</td>
                <td>{{ entity.destinationtext }}</td>
                <td>{{ entity.notes }}</td>
                <td>{{ entity.isnoshow }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reservation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reservation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
