{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
  {% if dateToShow == date %}
    {% set day = "Today" %}
  {% else %}
    {% set day = dateToShow %}
  {% endif %}
    <h1>Reservations <span class="button"><a href="{{ path('reservation_new') }}">
            Add
        </a></span></h1>
    
    {{ render(controller('GinsbergTransportationBundle:Reservation:searchCriteria')) }}
   
    <h2>Reservations for {% if day == "Today" %}{{ day }}{%else %}{{ day|date('Y-m-d') }}{% endif %}</h2>
    
    <table class="records_list">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Check out</th>
                <th>Check in</th>
                <th>Vehicle</th>
                <th>Driver</th>
                {% if dateToShow == date %}
                <th>Driver uniqname</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for upcoming_trip in upcoming %}
            <tr>
                <td>{% if upcoming_trip.start %}{{ upcoming_trip.start|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if upcoming_trip.end %}{{ upcoming_trip.end|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if upcoming_trip.checkout %}{{ upcoming_trip.checkout|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if upcoming_trip.checkin %}{{ upcoming_trip.checkin|date('g:i a F j Y') }}{% endif %}</td>
                <td><a href="{{ path('vehicle_show', { 'id': upcoming_trip.vehicle.id }) }}">{{ upcoming_trip.vehicle }}</a></td>
                <td><a href="{{ path('person_show', { 'id': upcoming_trip.person.id }) }}">{{ upcoming_trip.person.firstName }} {{ upcoming_trip.person.lastName }}</a></td>
                {% if dateToShow == date %}
                    <td>{{ render(controller('GinsbergTransportationBundle:Reservation:checkoutCriteria', 
                          {'id': upcoming_trip.id})) }}</td>
                   
                {% endif %}
                <td>
                    <ul class="actions">
                        <li>
                            <a href="{{ path('reservation_show', { 'id': upcoming_trip.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': upcoming_trip.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% if upcoming_trip.notes %}
              <tr><td colspan="7">{{ upcoming_trip.notes }}</td></tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

        {% if dateToShow == date %}
          <h2>Trips in Progress</h2>
        
        <table class="records_list">
          <thead>
              <tr>
                  <th>Start</th>
                  <th>End</th>
                  <th>Check out</th>
                  <th>Check in</th>
                  <th>Vehicle</th>
                  <th>Driver</th>
                  <th>Check In</th>
                  <th>Actions</th>
              </tr>
          </thead>
          {% endif %}
          {% if ongoing %}
          <tbody>
        {% for ongoing_trip in ongoing %}
            <tr>
                <td>{% if ongoing_trip.start %}{{ ongoing_trip.start|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if ongoing_trip.end %}{{ ongoing_trip.end|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if ongoing_trip.checkout %}{{ ongoing_trip.checkout|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if ongoing_trip.checkin %}{{ ongoing_trip.checkin|date('g:i a F j Y') }}{% endif %}</td>
                <td><a href="{{ path('vehicle_show', { 'id': ongoing_trip.vehicle.id }) }}">{{ ongoing_trip.vehicle }}</a></td>
                <td><a href="{{ path('person_show', { 'id': ongoing_trip.person.id }) }}">{{ ongoing_trip.person }}</a></td>
                
                <td>{{ render(controller('GinsbergTransportationBundle:Reservation:checkinCriteria', 
                      {'id': ongoing_trip.id})) }}</td>
                <ul class="actions">
                    <li>
                        <a href="{{ path('reservation_show', { 'id': ongoing_trip.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': ongoing_trip.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
            {% if ongoing_trip.notes %}
              <tr><td colspan="7">{{ ongoing_trip.notes }}</td></tr>
            {% endif %}
        {% endfor %}
        </tbody>
      {% endif %}
    </table>
       
        
        {% if dateToShow == date %}
          <h2>Today's Checkins</h2>
        
        
        
        <table class="records_list">
          <thead>
              <tr>
                  <th>Start</th>
                  <th>End</th>
                  <th>Check out</th>
                  <th>Check in</th>
                  <th>Vehicle</th>
                  <th>Driver</th>
                  <th>Notes</th>
                  <th>Actions</th>
              </tr>
          </thead>
          {% endif %}
          {% if checkinsToday %}
          <tbody>
        {% for checkedInTrip in checkinsToday %}
            <tr>
                <td>{% if checkedInTrip.start %}{{ checkedInTrip.start|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if checkedInTrip.end %}{{ checkedInTrip.end|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if checkedInTrip.checkout %}{{ checkedInTrip.checkout|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if checkedInTrip.checkin %}{{ checkedInTrip.checkin|date('g:i a F j Y') }}{% endif %}</td>
                <td>{{ checkedInTrip.vehicle }}</td>
                <td>{{ checkedInTrip.person }}</td>
                <td>{{ checkedInTrip.notes }}</td>
                <td>
                <ul class="actions">
                    <li>
                        <a href="{{ path('reservation_show', { 'id': checkedInTrip.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': checkedInTrip.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
        
        
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {% javascripts 
    '@GinsbergTransportationBundle/Resources/public/js/moment.js' %}
    {{ parent() }}
    <script src="{{ asset_url }}"></script>
    <script>moment().format();</script>
  {% endjavascripts %}
  {% javascripts 
    '@GinsbergTransportationBundle/Resources/public/js/reservation_datetimepicker.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
