{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <div class="record_actions">
      <span class='back button'>
          <a href="{{ path('reservation') }}">
              Reservations
          </a>
      </span>
    </div>
    
    <h1>Add a Reservation</h1>
    
    {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.person) }}
      {{ form_row(form.program) }}
      {{ form_row(form.start) }}
      {{ form_row(form.end) }}
      {{ form_row(form.seatsRequired) }}
      <div id="destination" class="required">
        {{ form_row(form.destination) }}
      </div>
      <div id="destination-text" class="required">
        {{ form_row(form.destinationText) }}
      </div>      
      {{ form_row(form.isRepeating) }}
      {{ form_row(form.repeatsUntil) }}
      {{ form_row(form.notes) }}
      
    <h4>Do not select a particular vehicle unless you have a special need:</h4>
      {{ form_row(form.vehicle) }}
    <h4>Do not fill in these fields unless the car has been checked out / checked in:</h4>
      {{ form_row(form.checkout) }}
      {{ form_row(form.checkin) }}
      {{ form_row(form._token) }}
      <div style='display: none;'>
      {{ form_row(form.created) }}
      {{ form_row(form.modified) }}
      </div>
      
      {{ form_row(form.submit, {'label': 'Create' }) }}
      
    {{ form_end(form, {'render_rest': false}) }}

        
{% endblock %}
{% block javascripts %}
  {% javascripts 
    '@GinsbergTransportationBundle/Resources/public/js/reservation_datetimepicker.js'
    '@GinsbergTransportationBundle/Resources/public/js/create_edit_reservation.js' %}
    {{ parent() }}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
