<span id="reservation_noshow">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }, 'style': 'display: inline;'}) }}
      {{ form_errors(form) }}
      <span style='display: none;'>
        {{ form_widget(form.person) }}
        {{ form_row(form.start) }}
        {{ form_row(form.end) }}
        {{ form_row(form.checkout) }}
        {{ form_row(form.checkin) }}
        {{ form_row(form.vehicle) }}
        {{ form_row(form.seatsRequired) }}
        {{ form_row(form.program) }}
        {{ form_row(form.destination) }}
        {{ form_row(form.destinationText) }}
        {{ form_row(form.notes) }}
        {{ form_row(form.created) }}
        {{ form_row(form.modified) }}
        {{ form_row(form._token) }}
      </span>
      
      {{ form_widget(form.submit, {'label': 'No Show' }) }}
      
    {{ form_end(form, {'render_rest': false}) }}

</span>