{# Layout template for the Admin portion of the website #}
{% extends '::base.html.twig' %}
  {% block stylesheets %}
    {% stylesheets
      'bundles/ginsbergtransportation/css/jquery.datetimepicker.css'
        
        filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/ginsbergtransportation/css/admin/form.css'
        'bundles/ginsbergtransportation/css/admin/print.css' 
        'bundles/ginsbergtransportation/css/admin/screen.css' 
        'bundles/ginsbergtransportation/css/admin/main.css'
        filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  {% endblock %}   
{% block nav %}
  <li class="first" id="nav-people"><a href="{{ path('person') }}">People</a></li>
  <li class="first" id="nav-reservations"><a href="{{ path('reservation') }}">Reservations</a></li>
  <li class="first" id="nav-vehicles"><a href="{{ path('vehicle') }}">Vehicles</a></li>
  <li class="first" id="nav-programs"><a href="{{ path('program') }}">Programs</a></li>
  <li class="first" id="nav-destinations"><a href="{{ path('destination') }}">Destinations</a></li>
  <li class="first" id="nav-tickets"><a href="{{ path('ticket') }}">Tickets</a></li>
  <li class="first" id="nav-reports"><a href="">Reports</a></li>
  <li class="first" id="nav-installation"><a href="{{ path('installation') }}1/edit">Site On/Off</a></li>
{% endblock %}
{% block javascripts %}
    {% javascripts 
      '@GinsbergTransportationBundle/Resources/public/js/user/jquery-1.11.1.js'
      'bundles/ginsbergtransportation/js/datetimepicker/jquery.datetimepicker_modified.js'
      'bundles/ginsbergtransportation/js/moment.js'
    %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
      moment().format();
    </script>
  {% endblock %}
