{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}
{% block body %}
  <h1>Welcome, {{ name }}</h1>
  {% if tickets %}
    <p class="error errorSummary">You have an outstanding ticket. You will not be allowed to check out a vehicle until the ticket has been paid.
    Tickets can be paid at the Ginsberg Center front desk. For more information, contact the Ginsberg Center, 763-3548.</p>
  {% endif %}
    
  <h2>Your Upcoming Reservations</h2>
    <table class="records_list">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Vehicle</th>
                <th>View</th>
            </tr>
        </thead>
        
    {% for upcoming_trip in upcomingTripsForPerson %}
      <tr>
        <td>{% if upcoming_trip.start %}{{ upcoming_trip.start|date('g:i a F j Y') }}{% endif %}</td>
        <td>{% if upcoming_trip.end %}{{ upcoming_trip.end|date('g:i a F j Y') }}{% endif %}</td>
        <td>{{ upcoming_trip.vehicle }}</td>
        <td><a href="{{ path('site_show', { 'id': upcoming_trip.id }) }}" data-role="button" data-icon="arrow-r" data-iconpos="notext">{{ upcoming_trip.id }}</a></td>
        
      </tr>
    {% endfor %}
    </table>
{% endblock %}
