{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}

{% block body -%}
  {% set no_vehicle_text %}
    <span class="error">NO VEHICLE AVAILABLE</span>
  {% endset %}
  <h1>Reservations Created</h1> 
  <h2>(Successful: {{ successes }} , Failed: {{ failures }})</h2>
    <table class="records_list">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Vehicle</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.start %}{{ entity.start|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('g:i a F j Y') }}{% endif %}</td>
                <td>{% if entity.vehicle == null %}{{ no_vehicle_text }}{% else %}{{ entity.vehicle }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
