{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}

{% block body -%}

<h2>Create a Reservation</h2>

    {{ form_start(form, {'att': {'novalidate': 'novalidate'}}) }}
      {{ form_errors(form) }}
      {{ form_row(form.program) }}
    <div id="start" class="row">
      {{ form_label(form.start) }}
        <div class="errorMessage">
      {{ form_errors(form.start) }}
        </div>
      {{ form_widget(form.start) }}
    </div>
    <div id="end" class="site-form-row">
      {{ form_label(form.end) }}
        <div class="errorMessage">
      {{ form_errors(form.end) }}
        </div>
      {{ form_widget(form.end) }}
    </div>
      
      {{ form_row(form.seatsRequired) }}
      <div style='display: none;'>
      {{ form_row(form.person) }}
      </div>
    {{ form_row(form.destination) }}
      {{ form_row(form.destinationText) }}
      {{ form_row(form.notes) }}
    <fieldset>
        <legend>Does this reservation repeat?</legend>
    {{ form_row(form.isRepeating) }}
    <div id="repeatsUntil" class="site-form-row">
      {{ form_label(form.repeatsUntil) }}
        <div class="errorMessage">
      {{ form_errors(form.repeatsUntil) }}
        </div>
      {{ form_widget(form.repeatsUntil) }}
    </div>
    </fieldset>
      {{ form_row(form._token) }}
      <div style="display: none;">
        {{ form_row(form.created) }}
      </div>
      
      {{ form_row(form.submit, {'label': 'Create' }) }}
      
    {{ form_end(form, {'render_rest': false}) }}

        
{% endblock %}
{% block javascripts %}
  {{ parent() }}
    {% javascripts
      '@GinsbergTransportationBundle/Resources/public/js/datetimepicker/jquery.datetimepicker_modified.js'
      'bundles/ginsbergtransportation/js/user/site_datetimepicker.js'
%}
        <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
{% endblock %}
