{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}
{% block body %}
  
<h2>Past Reservations</h2>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Destination</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
      
   {% for past_trip in pastTripsForPerson %}
      <tr>
          <td>{% if past_trip.start %}{{ past_trip.start|date('Y-m-d H:i:s') }}{% endif %}</td>
          <td>{% if past_trip.end %}{{ past_trip.end|date('Y-m-d H:i:s') }}{% endif %}</td>
          <td>{% if entity.destination %}{{ entity.destination }}{% else %}{{ entity.destinationText }}{% endif %}</td>
          <td><a href="{{ path('site_show', { 'id': past_trip.id }) }}" data-role="button" data-icon="arrow-r" data-iconpos="notext">{{ past_trip.id }}</a></td>
      </tr>
   {% endfor %}
  </tbody>
</table>  

{% endblock %}
