{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}

{% block body -%}
<h1>{{ entity.start|date('g:i a F j Y') }} to <br />{{ entity.end|date('g:i a F j Y') }}</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="flash-notice save-success">
        {{ flashMessage }}
      </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('failure') %}
      <div class="flash-notice save-failure">
        {{ flashMessage }}
      </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('repeating') %}
      <div class="flash-notice reservation-repeating">
        {{ flashMessage }}
      </div>
    {% endfor %}
<strong>Destination:</strong> 
{% if entity.destination %}{{ entity.destination }}{% else %}{{ entity.destinationText }}{% endif %}<br>

<strong>Seats needed:</strong> 
{{ entity.seatsRequired }}

<div data-role="controlgroup">
    <a href="{{ path('site') }}"
         data-role="button" data-icon="arrow-l">Back to your reservations</a>
</div>

{% endblock %}
{% block javascripts %}
  {{ parent() }}
    {% javascripts 
      '@GinsbergTransportationBundle/Resources/public/js/datetimepicker/jquery.datetimepicker_modified.js'
      'bundles/ginsbergtransportation/js/user/site_datetimepicker.js'
    %}
        <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
{% endblock %}
