{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
  <div class="record_actions">
    <span class='back button'>
        <a href="{{ path('vehicle') }}">
            Vehicles
        </a>
    </span>
    <span>{{ form(delete_form) }}</span>
  </div>
    <h1>Update {{ edit_form.type.vars.value }} {{ edit_form.name.vars.value }}</h1>

    {{ form(edit_form) }}

{% endblock %}
