{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <h1>Add Installation</h1>
    <div class="record_actions">
      <span class="back button">
          <a href="{{ path('installation') }}">
              Back to Installations
          </a>
      </span>
    </div>
    {{ form(form) }}

        
{% endblock %}
{% block javascripts %}
  {% javascripts 
    '@GinsbergTransportationBundle/Resources/public/js/moment.js' %}
    {{ parent() }}
    <script src="{{ asset_url }}"></script>
    <script>moment().format();</script>
  {% endjavascripts %}
  {% javascripts 
    '@GinsbergTransportationBundle/Resources/public/js/installation_datetimepicker.js' %}
    {{ parent() }}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
